/* #region general */
:root {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 0.875rem;
  }
}

* {
  box-sizing: border-box;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
}

ul {
  list-style-type: none;
}

a {
  color: #5d9fc0;
}

mark {
  background-color: #ff0;
  padding: 0;
}
/* #endregion */
/* #region intro */
.intro {
  background: rgb(17, 18, 19);
  background: linear-gradient(
    28deg,
    rgba(17, 18, 19, 1) 77%,
    rgba(39, 39, 39, 1) 100%
  );
}
/* #endregion */
/* #region search */
.search {
  width: 100%;
  padding: 10px 5px;
}

@media only screen and (min-width: 992px) {
  .search {
    max-width: 160px;
    padding: 0 1rem;
  }
}

.search .search__button {
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  padding: 0;
}

.search .search__button .bi-search {
  position: relative;
  bottom: 2px;
  left: 4px;
}

.search .search__dropdown {
  padding: 0 2px;
}

.search .search__input {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  padding: 2px;
}

.search .search__button,
.search .search__dropdown,
.search .search__input {
  height: 20px;
}
/* #endregion */
/* #region header */
.header {
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0.625rem;
  }
}

.header .navbar-collapse {
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 600px) {
  .header .navbar .navbar-brand,
  .header .navbar .navbar-brand img {
    width: 80%;
  }

  .header .navbar-collapse .nav-item .nav-link:last-child {
    padding: 1rem;
  }
}

.header .navbar-collapse .nav-item .nav-link {
  color: #ffffff !important;
  font-size: 14px;
  padding: 1rem 1rem 0;
}
/* #endregion */
/* #region slogan */
.slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.slogan .slogan__text {
  color: #bebebe;
  word-wrap: normal;
  margin: 0;
  flex: 1 1 auto;
  font-size: 2.3rem !important;
}

.slogan .slogan__social {
  flex: 0 0 auto;
}

@media only screen and (max-width: 600px) {
  .slogan {
    flex-direction: column;
    padding: 0.625rem;
  }

  .slogan__social img {
    scale: 80%;
  }

  .slogan .slogan__text {
    font-size: 1.5rem !important;
    padding-bottom: 0.625rem;
  }

  .slogan .slogan__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
/* #endregion */
/* #region content */
/* #region content - articles */
.content .content__articles .content__article {
  display: flex;
  flex-direction: row;
  margin: 1.875rem 0;
  padding-bottom: 2rem;
  border-bottom: 2px solid #f6f6f6;
}

@media only screen and (max-width: 600px) {
  .content .content__articles .content__article {
    flex-direction: column;
    margin: 1.25rem 0;
    padding-bottom: 0.625rem;
  }
}

.content .content__articles .content__article .content__article__image {
  width: 150px !important;
  height: 150px !important;
  margin-right: 2rem;
  border: 6px solid #f6f6f6;
}

@media only screen and (max-width: 600px) {
  .content .content__articles .content__article .content__article__image {
    width: 100% !important;
    height: auto !important;
    max-height: 150px;
    margin: 0 0 0.625rem;
    object-fit: cover;
  }
}

.content .content__articles .content__article .content__article__body {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.content .content__articles .content__article .content__article__body span {
  color: #5d9fc0;
  font-size: 0.75rem;
  font-weight: 600;
}

.content .content__articles .content__article .content__article__body p {
  margin-bottom: 0.625rem;
  line-height: 1.25rem;
  overflow: hidden;
}

.content .content__articles .content__article .content__article__body button {
  width: 150px;
  color: #fff;
  background: linear-gradient(
    180deg,
    rgba(81, 150, 185, 1) 25%,
    rgba(72, 133, 165, 1) 100%
  );
}
/* #endregion */
/* #region content - pagination */
.content .content__articles .content__pagination {
  margin-top: 1rem;
}

.content .content__articles .content__pagination .pagination .page-item {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 0.25rem;
}

.content
  .content__articles
  .content__pagination
  .pagination
  .page-item:first-child {
  margin: 0 0.25rem 0 0;
}

@media only screen and (max-width: 600px) {
  .content .content__articles .content__pagination .pagination {
    justify-content: center !important;
  }
}

.content
  .content__articles
  .content__pagination
  .pagination
  .page-item
  .page-link {
  background: #eeeeee;
  border-color: #eeeeee;
  color: #7a7a7a;
  font-family: sans-serif;
  cursor: pointer;
}

.content
  .content__articles
  .content__pagination
  .pagination
  .page-item.active
  .page-link {
  background: #c1c1c1;
  border-color: #c1c1c1;
  color: #fff;
}
/* #endregion */
/* #region content - sidebar */
.content .content__sidebar {
  padding-top: 1.25rem;
  background: linear-gradient(
    170deg,
    rgba(235, 235, 235, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
}

.content .content__sidebar .content__sidebar-item {
  margin-bottom: 2rem;
}
/* #endregion */
/* #endregion */
/* #region sponsor */
.sponser {
  margin-bottom: 0.625rem;
}

.sponser .sponser__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sponser .sponser__logos img {
  border: 6px solid #f6f6f6;
  width: 140px;
  height: 90px;
  margin-bottom: 0.625rem;
}

@media only screen and (max-width: 600px) {
  .sponser .sponser__logos img {
    width: calc((100% / 3) - 0.125rem);
    height: auto;
    border-width: 0.125rem;
  }
}
/* #endregion */
/* #region footer */
.footer {
  background: #0e0e0e;
  color: #fff;
}

.footer .footer__item {
  padding: 0.625rem;
}

.footer .footer__item p {
  color: #666;
}

.footer .footer__item b,
.footer .footer__item q {
  color: #bebebe;
}
/* #endregion */
